.info {
	background-color: white;
	width: auto;
	height: auto;
	font-family: 'Red Hat Text', sans-serif;
	font-size: 35px;
}
h1 {
        font-size: 35px;
        color: #006400;
}
h2 {
        font-size: 25px;
	color: #006400;
}
h3{
	font-size: 20px;
	color: #696969;
}
ul {
	font-size: 20px;
	color: #696969;
}









